/* 
    Created on : 07-Apr-2015, 17:32:06

    Colour log:
    White: "ghostwhite";
    Green: #60997D;
    Blue: #000042;
    Light Gr: #939393
*/
*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none; 
    -moz-user-select: none;     
    -ms-user-select: none;      
    -o-user-select: none;
    user-select: none; 
}
.closed{
    display: none;
}
html, body{
    top:0;
    height: 100vh;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color:#000042;*/
    background-color: ghostwhite;
}
hr{
    width:80%;
    margin-left:10%;
    color:grey;
}
header{
    background-color:#000042;
}
#mainHeading{
    color:white;
    background-color:#60997D;
    font-size: 2em;
  
}
#heading{
    color:#60997D;
    font-size: 1.5em;
}
#miniHeading{
    color:#939393;
    font-size: 1em;
}
p{
    color:#000042;
    font-size: 1em;
}
form{
    width:100%;
    text-align: center;
}

#radioMenu{ 
    display: inline-block;
    position:relative;
  
    width: 30%;
    
    

}
.button{
    background-color: #e3e3e3;
    border-style: solid;
    border-color: #939393;
    border-width: 1px;
    padding-left: 3%;
    padding-right: 3%;
}
input{
    width: 60%;
    padding-left:1%;
    padding-right:1%;
    font-size: 1em;
}
input[type=submit]{
    width:auto;
}
input[type=radio]{
    width:100%;
 
}
table{
    background-color: #e3e3e3;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}
tr{

}
td{
    background-color: ghostwhite;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}
table[id=donations] th, table[id=donations] td{
    width:10%;
    padding-left:1%;
    padding-right:1%;
}
table[id=business] th, table[id=business] td{
    background-color:#e3e3e3;
    width:15%;
    padding-left:1%;
    padding-right:1%;
}
@media screen and (max-width: 340px) {
    html, body{
        font-size:1em;
    }
}
@media screen and (max-height: 400px) {
    html, body{
        font-size:1em;
    }
}


